ul {
    margin: 0;
    padding: 0;
}
li {
    height: 150px;
    list-style-type: none;
    margin-bottom: 3px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
}
span {
    margin: 20px;
    vertical-align: 10px;
}
.li_green:hover {
    background-color: rgba(39, 174, 95, 0.8);
}
.li_grey:hover {
    background-color: rgba(74, 73, 74, 0.8);
}
a {
    text-decoration: none;
    color: #fff;
}
img {
    margin: 55px 0px 0px 28px;
}
.li_green {
    background-color: #27ae60;
}
.li_grey {
    background-color: #4a4a4a;
}